<Layouts.app flash={@flash} current_scope={@current_scope}>
  <.header>
    Edit Trail "{@trail.name}"
    <:subtitle>Use this form to manage trail records in your database.</:subtitle>
  </.header>

  <.trail_form changeset={@changeset} action={~p"/trails/#{@trail}"} return_to={~p"/trails"} />
</Layouts.app>
